<ion-list>
  
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="pass"></ion-input>
    </ion-item>
  
  </ion-list>
  
  <div padding>
    <button block ion-button type="submit" (click)="goHome()">Sign In</button>
    <button block ion-button type="submit" (click)="goSignupPage()">Sign Up</button>
  </div>  