<ion-list>
  
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Password Lama</ion-label>
        <ion-input type="password" [(ngModel)]="pass"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>Password Baru</ion-label>
          <ion-input type="password" [(ngModel)]="passbaru"></ion-input>
        </ion-item>
    
    </ion-list>
    
    <div padding>
      <button block ion-button ion-button  (click)="Ganti()">Submit</button>
    </div>