<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button block ion-button ion-button type="submit" (click)="GantiHal()">Change Password</button>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>


  <!-- <div *ngFor="let user of Userdata">
    Name:<p>{{user.name}}</p><br>
    email:<p>{{user.email}}</p>
  </div> -->



    <ion-card *ngFor="let user of Userdata">
      
        <ion-card-header>
          {{user.name}}
          <ion-icon ios="ios-close" md="md-close" style="float:right;" (click)="Delete(user.id)"></ion-icon>
        </ion-card-header>
      
        <ion-card-content>
          {{user.email}}
        </ion-card-content>
      
      </ion-card>
    

</ion-content>
