<ion-list>
  
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="pass"></ion-input>
    </ion-item>
  
  </ion-list>
  
  <div padding>
    <button block ion-button ion-button type="submit" (click)="onSubmit()">Sign Up</button>
  </div>